.botones_form {
    display: flex;
    width: 100%;
}

.boton_enviar {
    background-color: #000;
    color: #fad149;
    padding: 10px;
    font-family: 'Poppins', sans-serif;
    text-align: center;
    font-size: 1rem;
    text-transform: uppercase;
    letter-spacing: 2px;
    display: inline;
    width: 50%;

    &:hover{
        background-color: #fad149;
        color: #000;
    }
}

.boton_reset {
    @extend .boton_enviar;
    background-color: rgb(190, 190, 190);
    color: #000;

    &:hover{
        background-color: #fad149;
        color: #000;
    }
}

#banner_contacto {
    background-image: url("../media/banner_contacto.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

@mixin sizes($width, $height) {
    height: $height;
    width: $width;
 }
 #banner_contacto {
    @include sizes(100%, 500px);
 }
 


.seccion_formulario {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 50px 0;
    overflow: hidden;
}

form {
    display: inline-block;
    width: 400px;
    height: 400px;

    label {
        padding-bottom: 10px;
        display: block;
        font-family: 'Poppins', sans-serif;
        font-size: 1.2rem;
        color: #000;
    }

    input {
        padding-bottom: 10px;
        display: block;
        border-width: 0 0 1px 0;
        background-color: #eaeaea;
        text-align: left;
        width: 100%;
    }
    div {
        padding: 20px;
    
    }    
}

select {
    background-color: #eaeaea;
    border-width: 0 0 1px 0;
    text-align: left;
    font-family: 'Poppins', sans-serif;
    font-size: 1.2rem;
    color: #000;
    width: 100%;

    option {
        text-align: left;
    
    }
}

.complemento_form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0px 60px 20px;

    p {
        font-family: 'Poppins', sans-serif;
        font-size: 1.2rem;
        color: #000;
        width: 400px;
    }
    
}

iframe {
    padding-top: 20px;
}
